<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
   <link rel="manifest" href="manifest.json">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    <link rel="icon" href="favicon.png">
    <meta  name="theme-color" content="#0a6cb9">
    <meta name="description" content="Kuan Resto"> 
    <title> Kuan Restaurant</title>
</head>
<body>
  
  <app-bar></app-bar>
  <hero-element></hero-element>
  <content-element></content-element>
  <footer-element></footer-element>

 
</body>
</html>
